<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    <h1>Home Page <%= 5 + 4 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ex autem fugiat, laboriosam qui nemo cupiditate ipsam recusandae dicta. A.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi perspiciatis recusandae libero quos rem doloremque deserunt quibusdam labore dolorem, explicabo laboriosam quis ea iusto et cum, error est eaque minus?</p>
    <%- include('partials/footer') %>