<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page <%= 5 + 4 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ex autem fugiat, laboriosam qui nemo cupiditate ipsam recusandae dicta. A.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi perspiciatis recusandae libero quos rem doloremque deserunt quibusdam labore dolorem, explicabo laboriosam quis ea iusto et cum, error est eaque minus?</p>
</body>
</html>