<%- include('partials/head') %>
<%- include('partials/navbar') %>
<form action="/tacos" method="GET">
    <input type="text" name="meat" placeholder="Enter meat">
    <input type="number" name="qty" placeholder="Quantity">
    <button>Submit</button>
</form>
<%- include('partials/footer') %>